# Server
PORT=3000

# VanHeck / LKQ OAuth2
VANHECK_TOKEN_URL=https://lkq-carsys-fr-production.auth.eu-central-1.amazoncognito.com/oauth2/token
VANHECK_CLIENT_ID=1q5491gklchf6dil2njt62d77f
VANHECK_CLIENT_SECRET=your_client_secret_here

# VanHeck API
VANHECK_API_KEY=hHDG4EGRmq6y8l9y22afZBn2qVfGBq0Q
VANHECK_CATALOGUE_URL=https://lkq-europe-prod.apigee.net/gms-api-public-iframe-routes-fr/iframe/ticket?
